* {
  margin: 0;
  padding: 0; }

.primeraSeccion h1, .segundaSeccion h2, .segundaSeccion h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px; }

.segundaSeccion p {
  text-align: justify;
  margin-top: 20px; }

/* ---------NAV------ */
.nav {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(https://services.meteored.com/img/article/cientistas-podem-ter-descoberto-a-quinta-forca-fundamental-do-universo-220621-1_1024.jpg);
  max-height: 100px;
  margin-bottom: 30px; }
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 15px; }
  .nav li:hover {
    background-color: white;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: black;
    font-weight: 900px; }

@media (max-width: 1024px) {
  .nav {
    flex-direction: column; }
    .nav ul {
      margin-top: 15px;
      margin-bottom: 40px; } }

@media (max-width: 768px) {
  .nav {
    flex-direction: column; }
    .nav ul {
      margin-top: 15px;
      margin-bottom: 20px; } }

@media (max-width: 590px) {
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 5px;
    font-size: 14px; }
  .nav li:hover {
    background-color: white;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: black;
    font-weight: 900px; } }

@media (max-width: 425px) {
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 5px;
    font-size: 12px; }
  .nav li:hover {
    background-color: white;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: black;
    font-weight: 900px; } }

@media (max-width: 375px) {
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 5px;
    font-size: 10px; }
  .nav li:hover {
    background-color: white;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: black;
    font-weight: 900px; } }

.footer {
  grid-area: footer;
  background-color: black;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-top: 0 auto;
  align-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px; }
  .footer i {
    color: white;
    font-size: 30px;
    margin: 20px; }
  .footer i:hover {
    color: white;
    font-size: 50px;
    margin: 20px; }
  .footer h4 {
    color: white;
    margin-top: 20px;
    font-size: 20px; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion primeraSeccion primeraSeccion primeraSeccion" "segundaSeccion segundaSeccion segundaSeccion segundaSeccion" "footer footer footer footer"; }

.primeraSeccion {
  grid-area: primeraSeccion;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .primeraSeccion div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center; }

.segundaSeccion {
  grid-area: segundaSeccion;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center; }
  .segundaSeccion div {
    max-width: 55%;
    margin: 0 auto; }
  .segundaSeccion h2 {
    font-size: 35px; }
  .segundaSeccion h3 {
    font-size: 30px; }

.grilla2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion2 primeraSeccion2 primeraSeccion2 primeraSeccion2" "footer footer footer footer"; }

.primeraSeccion2 {
  grid-area: primeraSeccion2;
  display: flex;
  flex-direction: column; }
  .primeraSeccion2 section {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .primeraSeccion2 div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    border: solid 4px;
    border-radius: 4px;
    margin: 30px; }
  .primeraSeccion2 input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: grey;
    background-color: grey;
    color: black; }
  .primeraSeccion2 input:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: grey;
    background-color: green;
    color: white;
    font-size: 15px; }
  .primeraSeccion2 span {
    margin: 10px; }
