* {
  margin: 0;
  padding: 0; }

.segundaSeccion h2, .segundaSeccion4 h2 {
  font-size: 35px;
  font-style: bold;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center; }

.segundaSeccion h3 {
  font-size: 30px;
  font-style: bold;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center; }

.segundaSeccion p, .segundaSeccion4 p {
  text-align: justify;
  margin-top: 20px; }

.primeraSeccion h1, .primeraSeccion2 h1, .primeraSeccion4 h1, .primeraSeccion5 h1 {
  display: flex;
  font-size: 40px;
  font-style: bold;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px; }

/* ---------NAV------ */
.nav {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(https://services.meteored.com/img/article/cientistas-podem-ter-descoberto-a-quinta-forca-fundamental-do-universo-220621-1_1024.jpg);
  max-height: 100px;
  margin-bottom: 30px; }
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 15px; }
  .nav li:hover {
    background-color: blue;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: white;
    font-weight: 900px; }

@media (max-width: 1024px) {
  .nav {
    flex-direction: column; }
    .nav ul {
      margin-top: 15px;
      margin-bottom: 40px; } }

@media (max-width: 768px) {
  .nav {
    flex-direction: column; }
    .nav ul {
      margin-top: 15px;
      margin-bottom: 20px; } }

@media (max-width: 590px) {
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 5px;
    font-size: 14px; }
  .nav li:hover {
    background-color: blue;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: white;
    font-weight: 900px; } }

@media (max-width: 425px) {
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 5px;
    font-size: 12px; }
  .nav li:hover {
    background-color: blue;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: white;
    font-weight: 900px; } }

@media (max-width: 375px) {
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 5px;
    font-size: 10px; }
  .nav li:hover {
    background-color: blue;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: white;
    font-weight: 900px; } }

.footer {
  grid-area: footer;
  background-color: black;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-top: 0 auto;
  align-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px; }
  .footer i {
    color: white;
    font-size: 30px;
    margin: 20px; }
  .footer i:hover {
    color: #0025f5;
    font-size: 35px;
    margin: 20px; }
  .footer h4 {
    color: white;
    margin-top: 20px;
    font-size: 20px; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion primeraSeccion primeraSeccion primeraSeccion" "segundaSeccion segundaSeccion segundaSeccion segundaSeccion" "footer footer footer footer"; }

.primeraSeccion {
  grid-area: primeraSeccion;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .primeraSeccion div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center; }

.segundaSeccion {
  grid-area: segundaSeccion;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center; }
  .segundaSeccion div {
    max-width: 55%;
    margin: 0 auto; }

@media (max-width: 768px) {
  .primeraSeccion div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center; } }

@media (max-width: 425px) {
  div {
    max-width: 70%;
    margin: 0 auto; } }

.grilla2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion2 primeraSeccion2 primeraSeccion2 primeraSeccion2" "footer footer footer footer"; }

.primeraSeccion2 {
  grid-area: primeraSeccion2;
  display: flex;
  flex-direction: column; }
  .primeraSeccion2 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 4px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 30px; }
  .primeraSeccion2 h1 {
    align-items: center; }
  .primeraSeccion2 section {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .primeraSeccion2 div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    border: solid 4px;
    border-radius: 4px;
    margin: 30px;
    background-color: black; }
  .primeraSeccion2 input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: #d3cece;
    background-color: grey;
    color: black;
    width: 90%; }
  .primeraSeccion2 input:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: white;
    background-color: blue;
    color: white;
    font-size: 15px; }
  .primeraSeccion2 span {
    margin: 10px;
    width: 90%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: bold;
    border: solid 1px;
    border-color: white;
    padding: 5px;
    border-radius: 4px; }
  .primeraSeccion2 span:hover {
    margin: 10px;
    width: 90%;
    background-color: rgba(192, 188, 188, 0.185);
    color: white;
    text-align: center;
    font-size: bold;
    border: solid 3px;
    border-color: white;
    padding: 5px;
    border-radius: 4px; }

@media (max-width: 768px) {
  .primeraSeccion2 section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center; } }

.grilla3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion2 primeraSeccion2 primeraSeccion2 primeraSeccion2" "footer footer footer footer"; }

.grilla4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion4 primeraSeccion4 primeraSeccion4 primeraSeccion4" "segundaSeccion4 segundaSeccion4 segundaSeccion4 segundaSeccion4" "footer footer footer footer"; }

.primeraSeccion4 {
  grid-area: primeraSeccion4;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("https://res.cloudinary.com/daieukhdg/image/upload/v1656081426/Proyecto%20Sublime/sublime_zrsqwi.png"); }
  .primeraSeccion4 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 4px;
    border-radius: 20px;
    border-color: blue;
    background-color: rgba(255, 255, 255, 0.699); }
  .primeraSeccion4 h1 {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px; }
  .primeraSeccion4 div {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .primeraSeccion4 input {
    padding: 5px;
    margin: 10px;
    border: solid 2px;
    border-color: blue;
    border-radius: 8px;
    color: black; }
  .primeraSeccion4 .formulario {
    height: 200px;
    width: 92%;
    border-radius: 8px;
    border: solid 2px;
    border-color: blue; }
  .primeraSeccion4 .boton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: #d3cece;
    background-color: grey;
    color: black;
    width: 90%;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  .primeraSeccion4 .boton:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: white;
    background-color: blue;
    color: white;
    font-size: 15px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }

.segundaSeccion4 {
  grid-area: segundaSeccion4;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://res.cloudinary.com/daieukhdg/image/upload/v1656081426/Proyecto%20Sublime/sublime_zrsqwi.png"); }
  .segundaSeccion4 h2 {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px; }
  .segundaSeccion4 p {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: solid 4px;
    border-color: blue;
    text-align: center;
    font-size: 20px; }
  .segundaSeccion4 img {
    max-width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px; }

.grilla5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion5 primeraSeccion5 primeraSeccion5 primeraSeccion5" "footer footer footer footer"; }

.primeraSeccion5 {
  grid-area: primeraSeccion5;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("https://res.cloudinary.com/daieukhdg/image/upload/v1656448475/Proyecto%20Sublime/sublime_zsdsdsdi_zbfmtu.png"); }
  .primeraSeccion5 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 4px;
    border-radius: 20px;
    border-color: blue;
    background-color: rgba(36, 36, 36, 0.74);
    margin-bottom: 30px; }
  .primeraSeccion5 h1 {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px; }
  .primeraSeccion5 div {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .primeraSeccion5 input {
    padding: 5px;
    margin: 10px;
    border: solid 2px;
    border-color: blue;
    border-radius: 8px;
    color: black; }
  .primeraSeccion5 .formulario {
    height: 200px;
    width: 92%;
    border-radius: 8px;
    border: solid 2px;
    border-color: blue; }
  .primeraSeccion5 .boton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: #d3cece;
    background-color: grey;
    color: black;
    width: 90%;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: blue; }
  .primeraSeccion5 .boton:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: white;
    background-color: blue;
    color: white;
    font-size: 15px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
