* {
  margin: 0;
  padding: 0; }

.segundaSeccion h2, .primeraSeccion4 h2 {
  font-size: 35px;
  font-style: bold;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center; }

.segundaSeccion h3 {
  font-size: 30px;
  font-style: bold;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center; }

.segundaSeccion p, .primeraSeccion4 p {
  text-align: justify;
  margin-top: 20px; }

.primeraSeccion h1, .primeraSeccion2 h1, .primeraSeccion4 h1, .primeraSeccion5 h1 {
  display: flex;
  font-size: 40px;
  font-style: bold;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px; }

/* ---------NAV------ */
.nav {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(https://services.meteored.com/img/article/cientistas-podem-ter-descoberto-a-quinta-forca-fundamental-do-universo-220621-1_1024.jpg);
  max-height: 100px;
  margin-bottom: 30px; }
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 15px; }
  .nav li:hover {
    background-color: #023157;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: white;
    font-weight: 900px; }
  .nav .zoom {
    transition: transform .5s; }
  .nav .zoom:hover {
    transform: scale(1.1); }

@media (max-width: 1024px) {
  .nav {
    flex-direction: column; }
    .nav ul {
      margin-top: 15px;
      margin-bottom: 40px; } }

@media (max-width: 768px) {
  .nav {
    flex-direction: column; }
    .nav ul {
      margin-top: 15px;
      margin-bottom: 20px; } }

@media (max-width: 590px) {
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 5px;
    font-size: 14px; }
  .nav li:hover {
    background-color: #023157;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: white;
    font-weight: 900px; } }

@media (max-width: 425px) {
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 5px;
    font-size: 12px; }
  .nav li:hover {
    background-color: #023157;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: white;
    font-weight: 900px; } }

@media (max-width: 375px) {
  .nav img {
    width: 150px;
    padding: 20px; }
  .nav ul {
    width: 80%;
    height: 30%;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .nav li {
    list-style: none;
    margin: 5px;
    font-size: 10px; }
  .nav li:hover {
    background-color: #023157;
    border-radius: 4px; }
  .nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none; }
  .nav a:hover {
    color: white;
    font-weight: 900px; } }

.footer {
  grid-area: footer;
  background-color: black;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-top: 0 auto;
  align-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px; }
  .footer i {
    color: white;
    font-size: 30px;
    margin: 20px; }
  .footer i:hover {
    color: #023157;
    font-size: 35px;
    margin: 20px; }
  .footer h4 {
    color: white;
    margin-top: 20px;
    font-size: 20px; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion primeraSeccion primeraSeccion primeraSeccion" "segundaSeccion segundaSeccion segundaSeccion segundaSeccion" "footer footer footer footer"; }

.primeraSeccion {
  grid-area: primeraSeccion;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .primeraSeccion main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .primeraSeccion div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center; }
  .primeraSeccion .card {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 2px; }
  .primeraSeccion .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 2s; }
  .primeraSeccion .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black; }
  .primeraSeccion .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .primeraSeccion .back {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0 5px 10px black; }
  .primeraSeccion .card:hover .front {
    transform: perspective(600px) rotateY(180deg); }
  .primeraSeccion .card:hover .back {
    transform: perspective(600px) rotateY(360deg); }
  .primeraSeccion .card2 {
    position: relative;
    width: 270px;
    height: 270px;
    margin: 2px; }
  .primeraSeccion .face2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 2s; }
  .primeraSeccion .front2 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black; }
  .primeraSeccion .front2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .primeraSeccion .back2 {
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0 5px 10px black; }
  .primeraSeccion .card2:hover .front2 {
    transform: perspective(600px) rotateY(180deg); }
  .primeraSeccion .card2:hover .back2 {
    transform: perspective(600px) rotateY(360deg); }

.segundaSeccion {
  grid-area: segundaSeccion;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center; }
  .segundaSeccion div {
    max-width: 55%;
    margin: 0 auto; }

@media (max-width: 768px) {
  .primeraSeccion div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center; } }

.grilla2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion2 primeraSeccion2 primeraSeccion2 primeraSeccion2" "segundaSeccion2 segundaSeccion2 segundaSeccion2 segundaSeccion2" "footer footer footer footer"; }

.primeraSeccion2 {
  grid-area: primeraSeccion2;
  display: flex;
  flex-direction: column; }
  .primeraSeccion2 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 4px;
    border-color: #023157;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 30px; }
  .primeraSeccion2 h1 {
    align-items: center; }
  .primeraSeccion2 section {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .primeraSeccion2 div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    border: solid 4px;
    border-color: #023157;
    border-radius: 24px;
    margin: 30px;
    background-color: white; }
  .primeraSeccion2 img {
    border-radius: 20px; }
  .primeraSeccion2 input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: #d3cece;
    background-color: grey;
    color: black;
    width: 90%; }
  .primeraSeccion2 input:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: white;
    background-color: #023157;
    color: white;
    font-size: 15px; }
  .primeraSeccion2 span {
    margin: 10px;
    width: 90%;
    background-color: white;
    color: #023157;
    text-align: center;
    font-size: bold;
    border: solid 3px;
    border-color: #023157;
    padding: 5px;
    border-radius: 4px;
    font-family: sans-serif; }
  .primeraSeccion2 .cajaTalles {
    display: flex;
    flex-direction: row;
    width: 93%;
    margin: 0 auto;
    border: #023157 solid 3px;
    border-radius: 2px; }
  .primeraSeccion2 .talles {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    border: none;
    justify-content: space-between; }
  .primeraSeccion2 .letra {
    margin: 0;
    border: none;
    background: none;
    font-size: bold;
    padding: 0; }
  .primeraSeccion2 .btnCarrito {
    display: flex;
    flex-direction: row;
    width: 93%;
    border: none;
    margin: 0 auto; }
  .primeraSeccion2 .btnCarrito i {
    color: #023157;
    margin-right: 4px;
    margin-left: 3px; }

.zoom {
  transition: transform .5s; }

.zoom:hover {
  transform: scale(1.1); }

.segundaSeccion2 {
  grid-area: segundaSeccion2;
  max-width: 90%; }
  .segundaSeccion2 img {
    width: 700px;
    max-width: 90%;
    margin-bottom: 30px; }

.grilla3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion2 primeraSeccion2 primeraSeccion2 primeraSeccion2" "footer footer footer footer"; }

.grilla4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion4 primeraSeccion4 primeraSeccion4 primeraSeccion4" "segundaSeccion4 segundaSeccion4 segundaSeccion4 segundaSeccion4" "footer footer footer footer"; }

.primeraSeccion4 {
  grid-area: primeraSeccion4;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  align-items: flex-start; }
  .primeraSeccion4 .envio {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px; }
  .primeraSeccion4 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 4px;
    border-radius: 20px;
    border-color: #023157;
    background-color: rgba(255, 255, 255, 0.699); }
  .primeraSeccion4 h1 {
    text-align: center;
    background-color: #023157;
    color: white;
    padding: 10px;
    margin-top: 5px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px; }
  .primeraSeccion4 div {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .primeraSeccion4 input {
    padding: 5px;
    margin: 10px;
    border: solid 2px;
    border-color: #023157;
    border-radius: 8px;
    color: black; }
  .primeraSeccion4 .formulario {
    height: 300px;
    width: 92%;
    border-radius: 8px;
    border: solid 2px;
    border-color: #023157; }
  .primeraSeccion4 .boton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: #d3cece;
    background-color: grey;
    color: black;
    width: 90%;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  .primeraSeccion4 .boton:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: white;
    background-color: #023157;
    color: white;
    font-size: 15px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  .primeraSeccion4 h2 {
    text-align: center;
    background-color: #023157;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px; }
  .primeraSeccion4 p {
    width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: solid 4px;
    border-color: #023157;
    text-align: center;
    font-size: 14px;
    margin: 0 auto; }
  .primeraSeccion4 img {
    border-radius: 20px;
    width: 370px;
    margin: 0 auto;
    margin-top: 30px; }

.segundaSeccion4 {
  grid-area: segundaSeccion4;
  display: flex;
  flex-direction: column;
  align-items: center; }

.grilla5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "primeraSeccion5 primeraSeccion5 primeraSeccion5 primeraSeccion5" "segundaSeccion5 segundaSeccion5 segundaSeccion5 segundaSeccion5" "footer footer footer footer"; }

.primeraSeccion5 {
  grid-area: primeraSeccion5;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("https://res.cloudinary.com/daieukhdg/image/upload/v1656448475/Proyecto%20Sublime/sublime_zsdsdsdi_zbfmtu.png"); }
  .primeraSeccion5 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 4px;
    border-radius: 20px;
    border-color: #023157;
    background-color: rgba(36, 36, 36, 0.74);
    margin-bottom: 30px; }
  .primeraSeccion5 h1 {
    text-align: center;
    background-color: #023157;
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px; }
  .primeraSeccion5 div {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .primeraSeccion5 input {
    padding: 5px;
    margin: 10px;
    border: solid 2px;
    border-color: #023157;
    border-radius: 8px;
    color: black; }
  .primeraSeccion5 .formulario {
    height: 200px;
    width: 92%;
    border-radius: 8px;
    border: solid 2px;
    border-color: #023157; }
  .primeraSeccion5 .boton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: #d3cece;
    background-color: grey;
    color: black;
    width: 90%;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #023157; }
  .primeraSeccion5 .boton:hover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 8px;
    border-color: white;
    background-color: #023157;
    color: white;
    font-size: 15px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }

.segundaSeccion5 {
  grid-area: segundaSeccion5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #023157; }
  .segundaSeccion5 div {
    display: flex;
    flex-direction: row; }
  .segundaSeccion5 .form {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin: 30px; }
  .segundaSeccion5 .form input {
    width: 100%;
    height: 100%;
    background: none;
    color: white;
    padding-top: 20px;
    border: none;
    outline: 0px; }
  .segundaSeccion5 .form .lbl-nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7; }
  .segundaSeccion5 .form .lbl-nombre:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid white;
    transform: translateX(-100%);
    transition: all 0.3s ease; }
  .segundaSeccion5 .text-nomb {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: white; }
  .segundaSeccion5 .form input:focus + .lbl-nombre .text-nomb,
  .segundaSeccion5 .form input:valid + .lbl-nombre .text-nomb {
    transform: translateY(-150%);
    font-size: 14px;
    color: white; }
  .segundaSeccion5 .form input:focus + .lbl-nombre:after,
  .segundaSeccion5 .form input:valid + .lbl-nombre:after {
    transform: translateX(0%); }
