*{
    margin: 0;
    padding: 0;
}
@import'./variables/mixins';
@import'./variables/extend';
@import'./secciones/nav';
@import'./secciones/footer';
@import'./secciones/index';
@import'./secciones/remeras';
@import'./secciones/tazas';