%estiloh2 {
    font-size: 35px;
    font-style: bold;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

%estiloh3 {
    font-size: 30px;
    font-style: bold;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

%estilop {
    text-align: justify;
    margin-top: 20px;
}

%estiloh1 {
    font-size: 40px;
    font-style: bold;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;

}