.grilla4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "primeraSeccion4 primeraSeccion4 primeraSeccion4 primeraSeccion4"
        "segundaSeccion4 segundaSeccion4 segundaSeccion4 segundaSeccion4"
        "footer footer footer footer";
}

.primeraSeccion4{
    grid-area: primeraSeccion4;
display: flex;
flex-direction: column;
justify-content: center;

.container{
    margin: 0 auto;
    border: solid 4px;
    border-radius: 8px;
    margin: 20px;
    margin-bottom: 40px,
}
h1{
    @extend %estiloh1;
    text-align: center;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
@include formulario (blue, black);
}

}

.segundaSeccion4{
grid-area: segundaSeccion4;
}