.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "primeraSeccion primeraSeccion primeraSeccion primeraSeccion"
        "segundaSeccion segundaSeccion segundaSeccion segundaSeccion"
        "footer footer footer footer";
}

.primeraSeccion {
    grid-area: primeraSeccion;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h1 {
        @extend %estiloh1;
    }

    div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
}

.segundaSeccion {
    grid-area: segundaSeccion;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;

    div {
        max-width: 55%;
        margin: 0 auto;
    }

    h2 {
        @extend %estiloh1;
        font-size: 35px;
    }

    h3 {
        @extend %estiloh1;
        font-size: 30px;
    }

    p {
        @extend %estilop;
    }
}