/* ---------NAV------ */
.nav {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image:
        url(https://services.meteored.com/img/article/cientistas-podem-ter-descoberto-a-quinta-forca-fundamental-do-universo-220621-1_1024.jpg);
    max-height: 100px;
    margin-bottom: 30px;

    img {
        width: 150px;
        padding: 20px;
    }

    ul {
        width: 80%;
        height: 30%;
        text-decoration: none;
        background-color: black;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    li {
        list-style: none;
        margin: 15px
    }

    li:hover {
        background-color:#023157;
        border-radius: 4px;
    }

    a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
    }

    a:hover {
        color:white;
        font-weight: 900px;
    }

    .zoom{
        transition: transform .5s;
    }
    .zoom:hover{
    transform: scale(1.1); 
    }
}

@media (max-width: 1024px) {

    .nav {
        flex-direction: column;

        ul {
            margin-top: 15px;
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;

        ul {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width:590px) {
    .nav {
        img {
            width: 150px;
            padding: 20px;
        }

        ul {
            width: 80%;
            height: 30%;
            text-decoration: none;
            background-color: black;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        li {
            list-style: none;
            margin: 5px;
            font-size: 14px;
        }

        li:hover {
            background-color:#023157;
            border-radius: 4px;
        }

        a {
            color: white;
            text-transform: uppercase;
            text-decoration: none;
        }

        a:hover {
            color: white;
            font-weight: 900px;
        }
    }
}

@media (max-width:425px) {
    .nav {
        img {
            width: 150px;
            padding: 20px;
        }

        ul {
            width: 80%;
            height: 30%;
            text-decoration: none;
            background-color: black;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        li {
            list-style: none;
            margin: 5px;
            font-size: 12px;
        }

        li:hover {
            background-color:#023157;
            border-radius: 4px;
        }

        a {
            color: white;
            text-transform: uppercase;
            text-decoration: none;
        }

        a:hover {
            color: white;
            font-weight: 900px;
        }
    }
}

@media (max-width:375px) {

    .nav {
        img {
            width: 150px;
            padding: 20px;
        }

        ul {
            width: 80%;
            height: 30%;
            text-decoration: none;
            background-color: black;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        li {
            list-style: none;
            margin: 5px;
            font-size: 10px;
        }

        li:hover {
            background-color:#023157;
            border-radius: 4px;
        }

        a {
            color: white;
            text-transform: uppercase;
            text-decoration: none;
        }

        a:hover {
            color: white;
            font-weight: 900px;
        }
    }
}