.grilla2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 0fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "primeraSeccion2 primeraSeccion2 primeraSeccion2 primeraSeccion2"
        "footer footer footer footer";
}

.primeraSeccion2 {
    grid-area: primeraSeccion2;
    display: flex;
    flex-direction: column;

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        border: solid 4px;
        border-radius: 4px;
        margin: 30px;
        background-color: black
    }

    input {
        @include btn-sumarAlCarrito(grey, black);
    }

    input:hover {
        @include btn-hover(blue, white);
    }

    span {
        margin: 10px;
        width: 90%;
        background-color: black;
        color: white;
        text-align: center;
        font-size: bold;
        border: solid 1px;
        border-color: white;
        padding: 5px;
        border-radius: 4px;
    }

    span:hover {
        margin: 10px;
        width: 90%;
        background-color: rgba(192, 188, 188, 0.185);
        color: white;
        text-align: center;
        font-size: bold;
        border: solid 3px;
        border-color: white;
        padding: 5px;
        border-radius: 4px;
    }
}

@media (max-width:768px) {
    .primeraSeccion2 section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
}